@using ShoppingProject.Domain.Enums
@model ShoppingProject.Domain.DomainModels.Product

@{ ViewData["Title"] = "Tạo sản phẩm";
    Layout = "_AdminLayout"; }

<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/Admin" data-original-title="" title="">
                <i class="icofont-home"></i> Bảng điều khiển
            </a>
        </li>
        <li class="breadcrumb-item">
            <a asp-action="Index" data-original-title="" title="">
                Sản phẩm
            </a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ol>
</div>

<form asp-action="Create">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header">
                        <h5>@ViewData["Title"]</h5>
                    </div>
                    <div class="card-body">
                        @Html.AntiForgeryToken()
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Title"></label>
                            <input class="form-control" asp-for="Title" type="text" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Slug" class="control-label"></label>
                            <input asp-for="Slug" class="form-control" type="text" />
                            <span asp-validation-for="Slug" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label asp-for="Price" class="control-label"></label>
                                    <input asp-for="Price" class="form-control" type="text" />
                                    <span asp-validation-for="Price" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label asp-for="PromotionPrice" class="control-label"></label>
                                    <input asp-for="PromotionPrice" class="form-control" type="text" />
                                    <span asp-validation-for="PromotionPrice" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description"></label>
                            <textarea class="form-control" asp-for="Description" type="text" rows="6"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Keyword" class="control-label"></label>
                            <textarea class="form-control" asp-for="Keyword" rows="3"></textarea>
                            <span asp-validation-for="Keyword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ShortDescription"></label>
                            <textarea class="form-control" asp-for="ShortDescription"></textarea>
                            <span asp-validation-for="ShortDescription" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Content"></label>
                            <textarea class="form-control" asp-for="Content"></textarea>
                            <span asp-validation-for="Content" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="DeliveryDescription"></label>
                            <textarea class="form-control" asp-for="DeliveryDescription"></textarea>
                            <span asp-validation-for="DeliveryDescription" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">
                        <h5>Xuất bản</h5>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="Status" class="control-label"></label>
                            <select asp-for="Status" asp-items="Html.GetEnumSelectList<Status>()" class="form-control select2"></select>
                            <span asp-validation-for="Status" class="text-danger"></span>
                        </div>
                        <button class="btn btn-primary btn-block" type="submit" data-original-title="" title="">Hoàn tất</button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h5>Hình Cover</h5>
                    </div>
                    <div class="card-body">
                        <img src="~/lib/theme/assets/images/no-picture.jpg" class="img-thumbnail" id="imagePreview" />
                        <input asp-for="CoverUrl" type="hidden" class="form-control" />
                        <label id="ImageLabel" class="control-label btn btn-primary btn-block mt-2">Chọn hình</label>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h5>Album</h5>
                    </div>
                    <div class="card-body">
                        <div id="albumPreview" class="row"></div>
                        <label id="selectAlbum" class="control-label btn btn-primary btn-block mt-2">Chọn hình</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>



@section scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @await Html.PartialAsync("_SummernotePartial", new { height = 400, selector = "#ShortDescription" })
    @await Html.PartialAsync("_SummernotePartial", new { height = 1000, selector = "#Content" })
    @await Html.PartialAsync("_SummernotePartial", new { height = 1000, selector = "#DeliveryDescription" })
    @await Html.PartialAsync("_ImagePartial")
    <script>
        $(document).on("click", "#ImageLabel", function () {
            renderImage("#CoverUrl", false, "#imagePreview");
        });
        $(document).on("click", "#selectAlbum", function () {
            renderImage("", true, "#albumPreview");
        });
    </script>
}