@model ShoppingProject.Domain.DomainModels.PostCategory

@{ ViewData["Title"] = "Chỉnh sửa chuyên mục";
    Layout = "_AdminLayout"; }

<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/~" data-original-title="" title="">
                <i class="icofont-home"></i> Bảng điều khiển
            </a>
        </li>
        <li class="breadcrumb-item">
            <a asp-action="Index" data-original-title="" title="">
                Chuyên mục bài viết
            </a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ol>
</div>

<form asp-action="Edit">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header">
                        <h5>@ViewData["Title"]</h5>
                    </div>
                    <div class="card-body add-post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="CategoryId" />
                        <div class="form-group">
                            <label asp-for="Title"></label>
                            <input class="form-control" asp-for="Title" type="text" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Slug" class="control-label"></label>
                            <input asp-for="Slug" class="form-control" type="text" />
                            <span asp-validation-for="Slug" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Keyword" class="control-label"></label>
                            <input asp-for="Keyword" class="form-control" type="text" />
                            <span asp-validation-for="Keyword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Content" class="control-label"></label>
                            <input asp-for="Content" class="form-control" />
                            <span asp-validation-for="Content" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">
                        <h5>Xuất bản</h5>
                    </div>
                    <div class="card-body">
                        <button class="btn btn-success btn-block" type="submit" data-original-title="" title="">Hoàn tất</button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h5>Hình Cover</h5>
                    </div>
                    <div class="card-body">
                        @if (string.IsNullOrEmpty(Model.CoverUrl))
                        {
                            <img src="~/lib/theme/assets/images/no-picture.jpg" class="img-thumbnail" id="imagePreview" />
                        }
                        else
                        {
                            <img src="@Model.CoverUrl" class="img-thumbnail" id="imagePreview" />
                        }
                        <input asp-for="CoverUrl" type="hidden" class="form-control" />
                        <label id="ImageLabel" class="control-label btn btn-primary btn-block mt-2">Chọn hình</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


@section scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @await Html.PartialAsync("_ImagePartial")
    <script>
        $(document).on("click", "#ImageLabel", function () {
            renderImage("#CoverUrl", false, "#imagePreview");
        })
    </script>
}