@using Microsoft.AspNetCore.Identity
@using ShoppingProject.Domain.DomainModels

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<meta name="description" content="@ViewData["Description"]">*@
    @*<meta name="keywords" content="@ViewData["Keywords"]">*@
    <meta name="author" content="Ribmax">
    <link rel="icon" href="~/lib/theme/assets/images/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="~/lib/theme/assets/images/favicon.png" type="image/x-icon">
    <title>@ViewData["Title"] - Ribmax</title>

    <link href="~/css/fonts.css" rel="stylesheet" />
    <environment include="Development">
        <link rel="stylesheet" type="text/css" href="~/lib/theme/assets/css/icofont.css" />
        <link rel="stylesheet" type="text/css" href="~/lib/theme/assets/css/themify.css" />
        <link rel="stylesheet" type="text/css" href="~/lib/theme/assets/css/feather-icon.css" />
        <link rel="stylesheet" type="text/css" href="~/lib/sweetalert2/sweetalert2.min.css" />
        <link rel="stylesheet" type="text/css" href="~/lib/theme/assets/css/animate.css" />
        <link rel="stylesheet" type="text/css" href="~/lib/select2/css/select2.min.css" />
        <link rel="stylesheet" type="text/css" href="~/lib/theme/assets/css/date-picker.css" />
        <link rel="stylesheet" type="text/css" href="~/lib/theme/assets/css/vendors/select2.css" />
        <link rel="stylesheet" type="text/css" href="~/lib/theme/assets/css/vendors/summernote.css" />
        <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="~/lib/theme/assets/css/style.css" />
        <link rel="stylesheet" type="text/css" href="~/lib/theme/assets/css/responsive.css" />
    </environment>

    <environment exclude="Development">
        <link rel="stylesheet" type="text/css" href="~/css/vendor.min.css" />
    </environment>

    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
</head>
<body class="bg-1 d-flex flex-column h-100">
    <!-- Loader starts-->
    <div class="loader-wrapper">
        <div class="loader-index"><span></span></div>
        <svg>
            <defs></defs>
            <filter id="goo">
                <fegaussianblur in="SourceGraphic" stddeviation="9" result="blur"></fegaussianblur>
                <fecolormatrix in="blur" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="#goo">    </fecolormatrix>
            </filter>
        </svg>
    </div>
    <!-- Loader ends-->
    <!-- tap on top starts-->
    <div class="tap-top"><i data-feather="chevrons-up"></i></div>
    <!-- page-wrapper Start-->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
        <!-- Page Header Start-->
        <div class="page-header">
            <div class="header-wrapper row m-0">
                <div class="header-logo-wrapper">
                    <div class="logo-wrapper"><a href="#"><img class="img-fluid" src="~/lib/theme/assets/images/logo/logo.png" alt="Ribmax"></a></div>
                    <div class="toggle-sidebar"><i class="status_toggle middle sidebar-toggle" data-feather="sliders"></i></div>
                </div>
                <div class="nav-right col-12 pull-right right-header p-0">
                    <ul class="nav-menus">
                        <li class="onhover-dropdown">
                            <div class="notification-box">
                                <i data-feather="bell"> </i><span class="badge badge-pill badge-secondary">
                                    4
                                </span>
                            </div>
                            <ul class="notification-dropdown onhover-show-div">
                                <li>
                                    <i data-feather="bell"></i>
                                    <h6 class="f-18 mb-0">Notitications</h6>
                                </li>
                                <li>
                                    <p><i class="fa fa-circle-o mr-3 font-primary"> </i>Delivery processing <span class="pull-right">10 min.</span></p>
                                </li>
                                <li>
                                    <p><i class="fa fa-circle-o mr-3 font-success"></i>Order Complete<span class="pull-right">1 hr</span></p>
                                </li>
                                <li>
                                    <p><i class="fa fa-circle-o mr-3 font-info"></i>Tickets Generated<span class="pull-right">3 hr</span></p>
                                </li>
                                <li>
                                    <p><i class="fa fa-circle-o mr-3 font-danger"></i>Delivery Complete<span class="pull-right">6 hr</span></p>
                                </li>
                                <li><a class="btn btn-primary" href="#">Check all notification</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="mode"><i class="icofont-moon"></i></div>
                        </li>
                        <li class="onhover-dropdown">
                            <i data-feather="message-square"></i>
                            <ul class="chat-dropdown onhover-show-div">
                                <li>
                                    <i data-feather="message-square"></i>
                                    <h6 class="f-18 mb-0">Message Box                                    </h6>
                                </li>
                                <li>
                                    <div class="media">
                                        <img class="img-fluid rounded-circle mr-3" src="~/lib/theme/assets/images/user/1.jpg" alt="">
                                        <div class="status-circle online"></div>
                                        <div class="media-body">
                                            <span>Erica Hughes</span>
                                            <p>Lorem Ipsum is simply dummy...</p>
                                        </div>
                                        <p class="f-12 font-success">58 mins ago</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="media">
                                        <img class="img-fluid rounded-circle mr-3" src="~/lib/theme/assets/images/user/2.jpg" alt="">
                                        <div class="status-circle online"></div>
                                        <div class="media-body">
                                            <span>Kori Thomas</span>
                                            <p>Lorem Ipsum is simply dummy...</p>
                                        </div>
                                        <p class="f-12 font-success">1 hr ago</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="media">
                                        <img class="img-fluid rounded-circle mr-3" src="~/lib/theme/assets/images/user/4.jpg" alt="">
                                        <div class="status-circle offline"></div>
                                        <div class="media-body">
                                            <span>Ain Chavez</span>
                                            <p>Lorem Ipsum is simply dummy...</p>
                                        </div>
                                        <p class="f-12 font-danger">32 mins ago</p>
                                    </div>
                                </li>
                                <li class="text-center"> <a class="btn btn-primary" href="#">View All     </a></li>
                            </ul>
                        </li>
                        <li class="maximize"><a class="text-dark" href="#!" onclick="javascript:toggleFullScreen()"><i data-feather="maximize"></i></a></li>
                        <li class="profile-nav onhover-dropdown p-0 mr-0">
                            <div class="media profile-media">
                                <img class="b-r-10" src="~/lib/theme/assets/images/dashboard/profile.jpg" alt="">
                                <div class="media-body">
                                    <span>Emay Walter</span>
                                    <p class="mb-0 font-roboto">Admin <i class="middle fa fa-angle-down"></i></p>
                                </div>
                            </div>
                            <ul class="profile-dropdown onhover-show-div">
                                <li><a href="#"><i data-feather="user"></i><span>Account </span></a></li>
                                <li><a href="#"><i data-feather="mail"></i><span>Inbox</span></a></li>
                                <li><a href="#"><i data-feather="file-text"></i><span>Taskboard</span></a></li>
                                <li><a href="#"><i data-feather="settings"></i><span>Settings</span></a></li>
                                <li><a href="#"><i data-feather="log-in"> </i><span>Log in</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <script class="result-template" type="text/x-handlebars-template">
                    <div class="ProfileCard u-cf">
                        <div class="ProfileCard-avatar"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-airplay m-0"><path d="M5 17H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-1"></path><polygon points="12 15 17 21 7 21 12 15"></polygon></svg></div>
                        <div class="ProfileCard-details">
                            <div class="ProfileCard-realName">{{name}}</div>
                        </div>
                    </div>
                </script>
                <script class="empty-template" type="text/x-handlebars-template">
                    <div class="EmptyMessage">Your search turned up 0 results. This most likely means the backend is down, yikes!</div>
                </script>
            </div>
        </div>
        <!-- Page Header Ends-->
        <!-- Page Body Start-->
        <div class="page-body-wrapper sidebar-icon">
            <!-- Page Sidebar Start-->
            <div class="sidebar-wrapper">
                <div class="logo-wrapper text-center">
                    <a href="~/">
                        <img class="for-light" src="~/images/Logo-Header.png" alt="" height="45">
                        <img class="for-dark" src="~/images/Logo-Header.png" alt="" height="45">
                    </a>
                    <div class="back-btn"><i class="fa fa-angle-left"></i></div>
                    <div class="toggle-sidebar"><i class="status_toggle middle sidebar-toggle" data-feather="grid"> </i></div>
                </div>
                
                <nav class="sidebar-main">
                    <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
                    <div id="sidebar-menu">
                        <ul class="sidebar-links custom-scrollbar">
                            <li class="sidebar-list">
                                <a class="sidebar-link sidebar-title link-nav" href="~/admin">
                                    <i data-feather="home"></i>
                                    <span>Bảng điều khiển</span>
                                </a>
                            </li>
                            <li class="sidebar-list">
                                <a class="sidebar-link sidebar-title" href="#"><i data-feather="book"></i><span>Đơn hàng</span></a>
                                <ul class="sidebar-submenu">
                                    <li><a asp-action="Index" asp-controller="OrderAdmin">Danh sách đơn hàng</a></li>
                                    <li><a asp-action="Create" asp-controller="OrderAdmin">Thêm mới</a></li>
                                </ul>
                            </li>
                            <li class="sidebar-list">
                                <a class="sidebar-link sidebar-title" href="#"><i data-feather="list"></i><span>Chuyên mục bài viết</span></a>
                                <ul class="sidebar-submenu">
                                    <li><a asp-action="Index" asp-controller="PostCategoryAdmin">Danh sách chuyên mục</a></li>
                                    <li><a asp-action="Create" asp-controller="PostCategoryAdmin">Thêm mới</a></li>
                                </ul>
                            </li>
                            <li class="sidebar-list">
                                <a class="sidebar-link sidebar-title" href="#"><i data-feather="book-open"></i><span>Bài viết</span></a>
                                <ul class="sidebar-submenu">
                                    <li><a asp-action="Index" asp-controller="PostAdmin">Danh sách bài viết</a></li>
                                    <li><a asp-action="Create" asp-controller="PostAdmin">Thêm mới</a></li>
                                </ul>
                            </li>
                            <li class="sidebar-list">
                                <a class="sidebar-link sidebar-title" href="#"><i data-feather="shopping-cart"></i><span>Sản phẩm</span></a>
                                <ul class="sidebar-submenu">
                                    <li><a asp-action="Index" asp-controller="ProductAdmin">Tất cả sản phẩm</a></li>
                                    <li><a asp-action="Create" asp-controller="ProductAdmin">Thêm mới</a></li>
                                </ul>
                            </li>
                            <li class="sidebar-list">
                                <a class="sidebar-link sidebar-title" href="#"><i data-feather="file-text"></i><span>Câu hỏi</span></a>
                                <ul class="sidebar-submenu">
                                    <li><a asp-action="Index" asp-controller="QuestionAdmin">Tất cả câu hỏi</a></li>
                                    <li><a asp-action="Create" asp-controller="QuestionAdmin">Thêm mới</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div>
                </nav>
            </div>
            <!-- Page Sidebar Ends-->
            <div class="page-body">
                @RenderBody()
            </div>
            <!-- footer start-->
            <footer class="footer footer-fix">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 footer-copyright text-center">
                            <p class="mb-0">Copyright 2019 © <a href="~/Home"></a> Việt Nam</p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="modalCenter" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" id="ModalContent">

            </div>
        </div>
    </div>

    <environment include="Development">
        <script type="text/javascript" src="~/lib/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="~/lib/theme/assets/js/bootstrap/popper.min.js"></script>
        <script type="text/javascript" src="~/lib/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="~/lib/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
        <script type="text/javascript" src="~/lib/theme/assets/js/icons/feather-icon/feather.min.js"></script>
        <script type="text/javascript" src="~/lib/theme/assets/js/icons/feather-icon/feather-icon.js"></script>
        <script type="text/javascript" src="~/lib/theme/assets/js/config.js"></script>
        <script type="text/javascript" src="~/lib/theme/assets/js/sidebar-menu.js"></script>
        <script type="text/javascript" src="~/lib/theme/assets/js/notify/bootstrap-notify.min.js"></script>
        <script type="text/javascript" src="~/lib/theme/assets/js/notify/index.js"></script>
        <script type="text/javascript" src="~/lib/theme/assets/js/datepicker/date-picker/datepicker.js"></script>
        <script type="text/javascript" src="~/lib/theme/assets/js/datepicker/date-picker/datepicker.en.js"></script>
        <script type="text/javascript" src="~/lib/theme/assets/js/datepicker/date-picker/datepicker.custom.js"></script>
        <script type="text/javascript" src="~/lib/theme/assets/js/tooltip-init.js"></script>
        <script type="text/javascript" src="~/lib/sweetalert2/sweetalert2.min.js"></script>
        <script type="text/javascript" src="~/lib/theme/assets/js/script.js"></script>
        <script type="text/javascript" src="~/lib/select2/js/select2.min.js"></script>
        <script type="text/javascript" src="~/lib/select2/js/i18n/vi.min.js"></script>
        <script type="text/javascript" src="~/lib/mustache/mustache.js"></script>

        <script type="text/javascript" src="~/js/site.js"></script>
    </environment>
    <environment exclude="Development">
        <script type="text/javascript" src="~/js/vendor.min.js"></script>
    </environment>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $('.select2').select2({
            language: "vi"
        });

        $('.select2-hidden-search').select2({
            minimumResultsForSearch: -1,
            language: "vi"
        });
        $(document).ready(function () { exitSpinner() });
    </script>
</body>
</html>
