@using Microsoft.AspNetCore.Identity
@using ShoppingProject.Domain.DomainModels

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - Ribmax</title>
    @{await Html.RenderPartialAsync("_HeadPartial");}
</head>
<body class="landing-page">
    <header>
        <div class="top-header" id="topHeader">
            <div class="container-modify">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="py-4">
                            <img src="~/images/Logo-Header.png" height="100" />
                        </div>
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="#" class="btn btn-primary btn-air-primary header-btn btn-lg wow pulse">ĐẶT HÀNG NGAY</a>
                        <br />
                        <a href="#" class="btn btn-outline-white btn-air-white btn-lg mt-3 wow pulse"> <i class="fa fa-phone"></i> Gọi ngay: 1800 1548</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-header w-100" id="mainHeader">
            <div class="container">
                <nav class="navbar-expand-xl sticky-top" id="sidebar-menu">
                    <button class="navbar-toggler navabr_btn-set custom_nav" type="button" data-toggle="collapse" data-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation"><span></span><span></span><span></span></button>
                    <div class="navbar-collapse justify-content-start collapse hidenav" id="navbarDefault">
                        <ul class="navbar-nav navbar_nav_modify text-uppercase nav-menus" id="headerMenu">
                            <li class="nav-item"><a class="nav-link" href="/">TRANG CHỦ</a></li>
                            <li class="nav-item"><a class="nav-link" href="/ribmax-dam-chat-dan-ong">RIBMAX - ĐẬM CHẤT ĐÀN ÔNG</a></li>
                            <li class="nav-item"><a class="nav-link" href="/tin-tuc">SỨC KHỎE SINH LÝ NAM</a></li>
                            <li class="nav-item"><a class="nav-link" href="/san-pham/tat-ca-san-pham">MUA NGAY</a></li>
                            <li class="nav-item"><a class="nav-link" href="/hoi-dap">HỎI ĐÁP</a></li>
                            <li class="nav-item"><a class="nav-link" href="/lien-he">LIÊN HỆ</a></li>
                            <li class="cart-nav onhover-dropdown mini-cart" id="miniCart">
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <div class="page-wrapper landing-page">
        @RenderBody()
        <footer>
            <div class="footer-1 py-3 border-top">
                <div class="container text-white">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="footer-content">
                                <div>
                                    <img src="~/images/Logo-Header.png" height="65" />
                                    <img src="~/images/TUE-DUC.png" height="65" />
                                </div>
                                <p class="mt-3 text-white">
                                    Tuyên ngôn của CEO: Kiên trì, không ngừng học hỏi, đổi mới sáng tạo, kỷ luật & Lấy con người làm trọng tâm là cam kết như Vàng ròng của doanh chủ, không phải mục tiêu chính là Lợi nhuận.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="footer-title">
                                <p>LIÊN KẾT HỮU ÍCH</p>
                            </div>
                            <div class="footer-content">
                                <ul>
                                    <li><a href="/">Trang chủ</a></li>
                                    <li><a href="/ribmax-dam-chat-dan-ong">Ribmax - Đậm chất đàn ông</a></li>
                                    <li><a href="/tin-tuc">Sức khỏe sinh lý nam</a></li>
                                    <li><a href="/san-pham">Sản phẩm</a></li>
                                    <li><a href="/hoi-dap">Hỏi - Đáp</a></li>
                                    <li><a href="/lien-he">Liên hệ</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="footer-title">
                                <p>LIÊN LẠC</p>
                            </div>
                            <div class="footer-content">
                                <ul>
                                    <li>
                                        Email:<br />
                                        <a class="ml-3 small" href="https://www.agoda.com/">tueduc315@gmail.com</a>
                                        <br />
                                        <a class="ml-3 small" href="#">tueduc.cskh@gmail.com</a>
                                    </li>
                                    <li class="mt-2"><a href="tel:0911828288" class="small">Số điện thoại: 0911 82 82 88</a></li>
                                    <li class="mt-2">
                                        <span class="small">Thời Gian Làm Việc:</span><br />
                                        <a class="small ml-3">Thứ 2 – Thứ 6 : 08:00 – 17:00</a>
                                        <br />
                                        <a class="small ml-3">Thứ 7 : 08:00 – 12:00</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="footer-title">
                                <P>LIÊN KẾT VỚI CHÚNG TÔI</P>
                            </div>
                            <div class="footer-content">
                                <div class="social-information mt-2">
                                    <a href="#" class="btn btn-social-icon btn-facebook btn-rounded" target="_blank"><i class="icofont-facebook"></i></a>
                                    <a href="#" class="btn btn-social-icon btn-youtube btn-rounded" target="_blank"><i class="icofont-youtube"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-2">
                <div class="container container-modify text-center py-2">
                    <p class="mb-0 text-light">Mọi nội dung tại đây © 2019 - Công ty TNHH-TMDV Ribmax giữ toàn quyền</p>
                </div>
            </div>
        </footer>
    </div>

    <environment include="Development">
        <script type="text/javascript" src="~/lib/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="~/lib/theme/assets/js/bootstrap/popper.min.js"></script>
        <script type="text/javascript" src="~/lib/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
        <script type="text/javascript" src="~/lib/theme/assets/js/icons/feather-icon/feather.min.js"></script>
        <script type="text/javascript" src="~/lib/theme/assets/js/icons/feather-icon/feather-icon.js"></script>
        <script type="text/javascript" src="~/lib/theme/assets/js/owlcarousel/owl.carousel.js"></script>
        <script type="text/javascript" src="~/lib/theme/assets/js/owlcarousel/owl-custom.js"></script>
        <script type="text/javascript" src="~/lib/sweetalert2/sweetalert2.min.js"></script>
        <script type="text/javascript" src="~/lib/theme/assets/js/animation/wow/wow.min.js"></script>
        <script type="text/javascript" src="~/lib/theme/assets/js/landing_sticky.js"></script>
        <script type="text/javascript" src="~/lib/theme/assets/js/landing.js"></script>
    </environment>
    <environment exclude="Development">
        <script type="text/javascript" src="~/js/vendor.min.js"></script>
    </environment>
    <script type="text/javascript" src="~/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        
    </script>
</body>
</html>

