@using ShoppingProject.Utilities.Enums
@model ShoppingProject.Domain.DomainModels.FormCSKH

@{
    ViewData["Title"] = "Thêm mới Data thu thập";
    Layout = "_AdminLayout";
}

<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/Admin" data-original-title="" title="">
                <i class="icofont-home"></i> Bảng điều khiển
            </a>
        </li>
        <li class="breadcrumb-item">
            <a asp-action="Index" data-original-title="" title="">
                Data thu thập
            </a>
        </li>
        <li class="breadcrumb-item active">Thêm mới</li>
    </ol>
</div>

<form asp-action="Create">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header">
                        <h5>@ViewData["Title"]</h5>
                    </div>
                    <div class="card-body">
                        @Html.AntiForgeryToken()
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label asp-for="Email" class="control-label"></label>
                                    <input asp-for="Email" class="form-control" type="text" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label asp-for="Gentle" class="control-label"></label>
                                    <select asp-for="Gentle" asp-items="Html.GetEnumSelectList<Gentle>()" class="form-control select2"></select>
                                    <span asp-validation-for="Gentle" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <select class="form-control border-primary" name="BirthYear" id="BirthYear">
                                        @for (int i = 1950; i <= 2021; i++)
                                        {
                                            <option value="@i">@i</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">
                        <h5>Xuất bản</h5>
                    </div>
                    <div class="card-body">
                        <button class="btn btn-primary btn-block" id="btnSave" type="submit" data-original-title="" title="">Hoàn tất</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


@section scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}