@{ 
    ViewData["Title"] = "Trang Chủ";
    Layout = "_Layout";
}

<div class="slider">
    <div class="landing-slider owl-carousel owl-theme">
        <div class="item">
            <div class="img-effect">
                <a href="../theme/social-app.html" target="_blank">
                    <img src="~/images/banner_samalipas_page_desk.jpg" />
                </a>
            </div>
        </div>
        <div class="item">
            <div class="img-effect">
                <a href="../theme/social-app.html" target="_blank">
                    <img src="~/images/banner_samalipas_page_desk.jpg" />
                </a>
            </div>
        </div>
        <div class="item">
            <div class="img-effect">
                <a href="../theme/social-app.html" target="_blank">
                    <img src="~/images/banner_samalipas_page_desk.jpg" />
                </a>
            </div>
        </div>
        <div class="item">
            <div class="img-effect">
                <a href="../theme/social-app.html" target="_blank">
                    <img src="~/images/banner_samalipas_page_desk.jpg" />
                </a>
            </div>
        </div>
        <div class="item">
            <div class="img-effect">
                <a href="../theme/social-app.html" target="_blank">
                    <img src="~/images/banner_samalipas_page_desk.jpg" />
                </a>
            </div>
        </div>
    </div>
</div>
<section id="area1" class="bg-dark py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-12">
                <div class="card card-absolute">
                    <div class="card-header bg-dark-light">
                        <h5 class="text-white">Absolute Style</h5>
                    </div>
                    <div class="card-body pricingtable">
                        <p class="text-dark">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="card card-absolute">
                    <div class="card-header bg-dark-light">
                        <h5 class="text-white">Absolute Style</h5>
                    </div>
                    <div class="card-body pricingtable">
                        <p class="text-dark">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="card card-absolute">
                    <div class="card-header bg-dark-light">
                        <h5 class="text-white">Absolute Style</h5>
                    </div>
                    <div class="card-body pricingtable">
                        <p class="text-dark">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="area2" class="bg-dark py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5 col-12">
                <h1 class="text-white">Choose Our Clinic, Choose The Best Care For Yourself and Your Family</h1>
            </div>
            <div class="col-md-7 col-12">
                <div class="card card-absolute mb-5">
                    <div class="card-header bg-dark-light">
                        <h5 class="text-white">Absolute Style</h5>
                    </div>
                    <div class="card-body pricingtable">
                        <p class="text-dark">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p>
                    </div>
                </div>
                <div class="card card-absolute mb-5">
                    <div class="card-header bg-dark-light">
                        <h5 class="text-white">Absolute Style</h5>
                    </div>
                    <div class="card-body pricingtable">
                        <p class="text-dark">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>